{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- /.box-body box-footer clearfix no-border  content-wrapper -->

<div class="">
	 <div class="">
    

    <ul class="nav nav-tabs actions-nav">
        <li class="active">
			
            <a href="javascript:void(0)">List ({{counts}})</a>
        </li>
  <li>
        <a href="/admin/general_info/export/csv/" title="Export">Export</a>
    </li>
        
      <!--   <li>
            <a href="/admin/user/new/?url=%2Fadmin%2Fuser%2F" title="Create New Record">Create</a></li> -->

        

        

        

        

        

          
       <!-- <li class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">With selected<b class="caret"></b></a>
    <ul class="dropdown-menu">
        
        <li>
            <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Delete</a>
        </li>
        
    </ul>

        </li>
        -->

        
        
    </ul>
    

    

    
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                
                    
                    <th class="list-checkbox-column">
                       
                    </th>
                    
                    
                        
                        <th class="col-md-1">&nbsp;</th>
                        
                    
                    
                    
                    <th class="column-header col-first_name">
                        
                            
                                <a href="/admin/user/?sort=0" title="Sort by First Name">Client Name</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-last_name">
                        
                            
                                <a href="/admin/user/?sort=1" title="Sort by Last Name">Client Number</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-email">
                        
                            
                                <a href="/admin/user/?sort=2" title="Sort by Email">Branch Name</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-password">
                        
                            
                                <a href="/admin/user/?sort=3" title="Sort by Password">Telephone</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-active">
                        
                            
                                <a href="/admin/user/?sort=4" title="Sort by Active">Working Hours text</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Weekends</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Ramadan</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Type</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Area</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Block</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Alternative Names</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Google Map Location</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Address</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Building Name</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Comments</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 1</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 2</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 3</a>
                            
                        
                        
                    </th>
					
					
                    
                
            </tr>
        </thead>
        
        <tr>
				{% for item in res %}
                
                <td>
                    
                </td>
                
                
                    
                    <td class="list-buttons-column">
                        
                          
        

                          
          
                        
                    </td>

                
                    <td class="col-first_name">
                    
                    {{item[2].name}}
                    
                    </td>
                
                    <td class="col-last_name">
                    
                    {{item[2].id}}
                    
                    </td>
                
                    <td class="col-email">
                    
                    {{item[2].branch_name}}
                    
                    </td>
                
                    <td class="col-password">
                    
                   {{item[2].telephone}}
                    
                    </td>
                
                    <td class="col-active">
                    
                   {{item[2].woring_hours}}
                    
                    </td>
                
                    <td class="col-confirmed_at" >
                    
						{{item[3].name}}
                    
                    </td>
					
					<td class="col-confirmed_at">
                    
						{{item[2].ramadan}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].type}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].area}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].block}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].alternative_names}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].google_location}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].address}}
                    
                    </td>
					<td class="col-confirmed_at">
                    
						{{item[2].building_name}}
                    
                    </td>
					<td class="col-confirmed_at">
					
                    
						{{item[2].comments}}
                    
                    </td>
                <td class="col-confirmed_at">
                    
						
                    </td>
					<td class="col-confirmed_at">
                    
						
                    </td>
					<td class="col-confirmed_at">
                    
						
                    
                    </td>
            
        </tr>
       
        <tr>
            
          
         {% endfor %}      
               
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <H1> Welcome</H1> 
              
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a Framework Admin or Company Admin with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
