{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- /.box-body box-footer clearfix no-border  content-wrapper -->

<div class="">
	 <div class="">
    

    <ul class="nav nav-tabs actions-nav">
        <li class="active">
			
            <a href="javascript:void(0)">List ({{counts}})</a>
        </li>

         <li>
        <a href="/admin/greeting_screen/export/csv/" title="Export">Export</a>
    </li>
      <!--   <li>
            <a href="/admin/user/new/?url=%2Fadmin%2Fuser%2F" title="Create New Record">Create</a></li> -->

        

        

        

        

        

          
       <!-- <li class="dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">With selected<b class="caret"></b></a>
    <ul class="dropdown-menu">
        
        <li>
            <a href="javascript:void(0)" onclick="return modelActions.execute('delete');">Delete</a>
        </li>
        
    </ul>

        </li>
        -->

        
        
    </ul>
    

    

    
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover model-list">
        <thead>
            <tr>
                
                    
                    <th class="list-checkbox-column">
                       
                    </th>
                    
                    
                        
                        <th class="col-md-1">&nbsp;</th>
                        
                    
                    
                    
                    <th class="column-header col-first_name">
                        
                            
                                <a href="/admin/user/?sort=0" title="Sort by First Name">Client Name</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-last_name">
                        
                            
                                <a href="/admin/user/?sort=1" title="Sort by Last Name">Client Number</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-email">
                        
                            
                                <a href="/admin/user/?sort=2" title="Sort by Email">Greeting</a>
                            
                        
                        
                    </th>
                    
                    
                    <th class="column-header col-password">
                        
                            
                                <a href="/admin/user/?sort=3" title="Sort by Password">Replying</a>
                            
                        
                        
                    </th>
                    <th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 1</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 2</a>
                            
                        
                        
                    </th>
					<th class="column-header col-confirmed_at">
                        
                            
                                <a href="/admin/user/?sort=5" title="Sort by Confirmed At">Column 3</a>
                            
                        
                        
                    </th>
					
                    
                    
                
            </tr>
        </thead>
        
        <tr>
				{% for item in res %}
                
                <td>
                    
                </td>
                
                
                    
                    <td class="list-buttons-column">
                        
                          
        

                          
          
                        
                    </td>

                
                    <td class="col-first_name">
                    
                    {{item[0].name}}
                    
                    </td>
                
                    <td class="col-last_name">
                    
                    {{item[0].id}}
                    
                    </td>
                
                    <td class="col-email">
                    
                    {{item[1].greeting}}
                    
                    </td>
                
                    <td class="col-password">
                    
                   {{item[1].replying}}
                    
               
                
                   
                  </td>
					<td class="col-confirmed_at">
                    
						
                    
                    </td>
					<td class="col-confirmed_at">
                    
                    
                    </td>
					<td class="col-confirmed_at">
                    
						
                    
                    </td>
					
            
        </tr>
       
        <tr>
            
          
         {% endfor %}      
               
{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <H1> Welcome</H1> 
              
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a Framework Admin or Company Admin with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
