{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
<!-- /.box-body -->
<div class="box-footer clearfix no-border">

	 <meta http-equiv = "refresh" content = "2; url = 'admin'" /> 
</div>

{% else %}

<center>
    <section class="content" style="color: white">
        <div class="col-sm-12">
            <H1> Welcome</H1> 
              
            {% if not current_user.is_authenticated %}
            <p>You can register as a regular user, or log in as a Framework Admin or Company Admin with the following credentials: <br><br>

                email: <b>admin</b> <br>
                password: <b>admin</b> <br>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
                </p>
                {% endif %}
                <br>
                <p>
                    <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
                </p>
            </div>
        </section>
    </center>

    <br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
 {% endif %}

  {% endblock body %}
