

{% block body %}
    <div id="pagination">
        {% if resList.has_prev %}
            <a href="{{ url_for('resList', page=resList.prev_num)}}">Back</a>
        {% endif %}

        {% if resList.has_next %}
            <a href="{{ url_for('resList', page=resList.next_num)}}">Next</a>
        {% endif %}
    </div>

    <div style="clear:both;"></div>

    <div id="innerContent">
    {% if  resList[0] %}
		
        {% for item in resList %}
			
            <div class="contentUsers">
				<tr>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					<td>{{item[0]}}</td>
					
				</tr>
                
            </div>	
            <br><br><br><br>
        {% endfor %}
        {% else %}
			<div>No Results</div>
        {% endif %}
    </div>
{% endblock %}